<li>
    {{#unless devoured}}
    <button class="devour-burger is-size-3-tablet" data-id="{{id}}">
        <i class="fas fa-utensils"></i> Eat!
    </button>
    {{/unless}}

    {{ burger_name }}

    {{#if devoured}}
    <button class="remove-burger is-size-3-tablet" data-id="{{id}}">
        <i class="fas fa-trash"></i>
    </button>
    {{/if}}
</li>